# Environment variables
.env
.env.*
**/.env
**/.env.*
**/venv/
**/.venv/

# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/
env/
.venv/

# OS files
.DS_Store

# Logs
*.log

# Databases and local uploads
Backend/data/chroma_db/
Backend/data/uploads/
Backend/data/.venv/