__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv
.env
*.egg-info/
dist/
build/

instance/*
!instance/.gitkeep

app/uploads/*
!app/uploads/.gitkeep

app/logs/*.log
!app/logs/.gitkeep

.vscode/
.idea/
*.sqlite3
.DS_Store
*.log
.pytest_cache/
.coverage
htmlcov/
